.subHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 118px;
    width: auto;
    border: 3px solid #021A30;
    background-color: #01121F;
}

.userName {
    padding-left: 32px;
    color: #F8F9FA;
    font-size: 18px;
    font-weight: 700;
}

.vaga {
    color: #868E96;
    font-size: 12px;
}

@media(max-width:420px) {

    .subHeader {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: none;
        padding-left: 24px;
    }

    .userName {
        padding-left: 0px;
    }

}