.custom-toast .Toastify__progress-bar {
    background-color: #D32F2F;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 502px;
    background-color: #021A30;
    font-family: 'Inter';
}

.title {
    text-align: center;
    padding-bottom: 24px;
    color: #F8F9FA;
    font-size: 18px;
    font-weight: 700;
}

.inputTitle {
    color: #F8F9FA;
    font-size: 12px;
}

.inputBox {
    box-sizing: border-box;
    width: 330px;
    height: 48px;
    border: 1.22px solid #F8F9FA;
    border-radius: 4px;
    padding-left: 16px;
    line-height: 1.5;
    color: #F8F9FA;
    background-color: #343B41;
    font-size: 16px;
}

.inputBox::placeholder {
    color: #F8F9FA;
    font-size: 16px;
}

.passwordContainer {
    position: relative;
}

.passwordWrapper {
    display: flex;
    position: relative;
    align-items: center;
}

.toggleButton {
    position: absolute;
    right: 10px;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.buttonHolder {
    text-align: center;
}

.loginButton {
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    font-size: 16px;
    color: #F8F9FA;
    background-color: #8B1D07;
    width: 324px;
    height: 48px;
    cursor: pointer;
}


.registerTitle {
    margin-top: 32px;
    color: #868E96;
    font-size: 12px;
    font-weight: 700;
}

.registerButton {
    width: 324px;
    height: 48px;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    color: #F8F9FA;
    background-color: #868E96;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width:420px) {
    .container {
        width: 296px;
        height: 402px;
    }

    .title {
        font-size: 14px;
    }

    .inputTitle {
        margin-bottom: 12px;
        margin-top: 12px;
        font-size: 9px;
    }

    .inputBox {
        height: 39px;
        width: 265px;
        font-size: 16px;
    }

    .loginButton {
        width: 260px;
        height: 38px;
        margin-top: 18px;
        font-size: 12px;
        cursor: pointer;
    }

    .registerTitle {
        margin-top: 28px;
        font-size: 9px;
    }

    .registerButton {
        width: 260px;
        height: 38px;
        margin-top: 17px;
        font-size: 12px;
    }
}